# Setup with ansible
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

stream {
  upstream kube_api {
    least_conn;
    {% for host in groups['masters'] %}
    server {{ hostvars[host]['inventory_hostname_short'] }}:8443 max_fails=2 fail_timeout=10s;
    {% endfor %}
  }

  upstream http_lb {
    least_conn;
    {% for host in groups['masters'] %}
    server {{ hostvars[host]['inventory_hostname_short'] }}:80 max_fails=3 fail_timeout=10s;
    {% endfor %}
  }

  upstream https_lb {
    least_conn;
    {% for host in groups['masters'] %}
    server {{ hostvars[host]['inventory_hostname_short'] }}:443 max_fails=3 fail_timeout=10s;
    {% endfor %}
  }

  server {
    listen 8443;
    proxy_pass kube_api;
  }
  server {
    listen 80;
    proxy_pass http_lb;
  }
  server {
    listen 443;
    proxy_pass https_lb;
  }
}

http {
  server {
    listen 8080 default_server;
    server_name _;
    root /usr/share/nginx/html;
    include /etc/nginx/default.d/*.conf;
    location / {
    }
  
    location /nginx_status {
      stub_status;
      allow all;
    }
  
    error_page 404 /404.html;
    location = /40x.html {
    }
  }
}

